.form {
  /* display: flex;
  flex-flow: column;
  align-items: flex-start; */
}

.form__row {
  position: relative;
  margin-bottom: 10px;
}

.form__row label {
  margin-bottom: 10px;
  display: block;
}

.form__field input {
  padding: 15px;
  width: 100%;
  height: 48px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #d5d8d9;
  border-radius: 3px;
  outline: none;
}

.form__row .error-input input:focus {
  border-color: #528BF7;
}

.form .form__row .error-input input {
  border-color: tomato;
}

.form__link {
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 1px dotted #528BF7;
  text-decoration: none;
  color: #528BF7;
  text-decoration: none;
}

.form__row button {
  margin-top: 25px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  text-transform: uppercase;
  background-color: #33cc7f;
  border-radius: 30px;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.form__row button[disabled] {
  opacity: 0.4;
}

.form__error {
  margin: 20px 0;
  color: tomato;
}